<div class="d-flex justify-content-center align-items-center" id="banner">
    <div class="overlay"></div>
    <div class="text-center d-flex justify-content-center align-items-center flex-wrap">
        <div class="text-center d-flex align-items-center text-banner">
            <img src="/assets/logo2.png" alt="logo-congreso" class="img-fluid">
            <h1>CONGRESO<br>INTERNACIONAL<br>DE ESTUDIANTES DE<br>MEDICINA</h1>
        </div>
        <p class="w-100">DEL 18 AL 20 DE AGOSTO | 7:00 A 4:00 PM</p>
    </div>
</div>